.textIndex {
    margin-left: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: solid 2px #ddd;
}

a>div {
  display: none;

}

a>div>img {
  width: 100%;
}

.jumbotron {
    text-align: center;
    padding-bottom: 25px;
}

@media screen and (max-width: 767px) {
    a>div>img {
        width: 30%;
    }

    .textIndex {
      width: 75%;
      margin-left: 35px;
      background-color: #fff;
      border-radius: 4px;
      border: solid 2px #ddd;
    }

    h2 {
      font-size: 3vh;
    }

    p {
      font-size: 0.9em;
    }

    .jumbotron p {
      font-size: 2vh;
    }

    div>ul>li {
      font-size: 0.9em;
    }

}

a:hover>div {
  display: block;
}

body {
    background-image: url(../img/brick_wall_background.jpg)
}



#logo-jumbo {
    width: 95%;
    max-width: 220px;
    min-width: 160px;
    margin: 0 auto;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}

#logo-jumbo:hover {
    transform: scale(1.1);
}

.btn-strain {

    font-size: 1.4em;
    height: 45px;
    width: 30%;
    margin: 0 10px;
}

.btn-strain:hover {
    color: black;
    font-weight: bold;
    }

#nav-logo {
    margin-left: -10px;
    margin-top: -15px;
    width: 50px;
}

.image-responsive {
    margin: 15px auto;
    width: 100%;
}

#Cannabinoid {
    border-radius: 4px;
    border: solid 2px #ddd;
    background-color: #fff;
    width: 98%;
    padding: 5px 5px;
}

.hovMouse:hover {
    border: solid 2px yellow;
}

#cbd {
    margin-top: 10px;
    margin-left: 50px;
    width: 95%;
    max-width: 250px;
}

#mol {
    background-color: #f5f5f5;
    margin-left: 50px;
    width: 90%;
    max-width: 250px;
    margin-top: 20px;
}

@media screen and (max-width: 588px) {

    #cbd {
        margin-top: 20px;
        position: relative;
        left:  10px;
        width: 45%;
        max-width: 250px;
    }
    #mol {
        background-color: #f5f5f5;
        position: relative;
        left: 5px;
        width: 40%;
        max-width: 250px;
        margin-top: 20px;

    }

}

@media screen and (max-width: 337px) {

    #cbd {
        margin-top: 20px;
        margin-left:  60px;
        width: 45%;
        max-width: 250px;
    }
    #mol {
        background-color: #f5f5f5;
        margin-left: 70px;
        width: 40%;
        max-width: 250px;
        margin-top: 20px;

    }

}

footer {
    background-color: #eee;
}

footer > img {
  width: 100%;
}

picture {
    margin: 0 auto;
}

.know-h2 {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: solid 4px #ddd;
}

h3.strains-h3 {
  padding: 5px 10px;
  border-radius: 4px;
  border: solid 2px #ddd;
  background-color: #f5f5f5;
}

h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

#adres {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}

h4 {
  border-radius: 4px;
  background-color: #f5f5f5;
  padding: 10px;
}

.textStrains {
    background-color: #f5f5f5;
    border-radius: 4px;
    border: solid 1px #ddd;
    display: inline-flex;
    width: 44%;
    margin: 2px 6px;
    padding: 10px 20px;
}



 .verFondo {
    border-radius: 4px;
    padding: 0px 10px;
    background-color: white;
}

/* Styling Form */

.message, .contact, .name, .footer, #headerForm, textarea  {
 display: block;
 padding: 0;
 margin: 0;
 border: 0;
 clear: both;
 overflow: hidden;
}

#headerForm > h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: rgba(51,51,51);
  }

#headerForm {
  height: 75px;
  background: #fff;
  line-height: 75px;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;

}

.first, .last {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgba(0,0,0,.1);
  height: 50px;
}

.last {
  border-left: 0;
}

.email {
  height: 50px;
  width: 578px;
  line-height: 50px;
  padding: 0 0 0 20px;
  border-top: 1px solid rgba(0,0,0,.1);
  border-left: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

textarea {
  padding: 10px;
  width: 100%;
  height: 150px;
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
}

#formButton {
  background-color: #fff;
}

#formButton button {
    margin: 30px 10px;
}

#formButton > button {
    padding: 10px;
}

form {
    height: 440px;
    border: solid 1px #ddd;
}

.first:focus, .last:focus, .email:focus, textarea:focus {
  outline: none;
  background: rgba(52, 152, 219);
  color: rgba(51,51,51,.7);
}
