.jumbotron {
    text-align: center;
}

#logo-jumbo {
    width: 90%;
    max-width: 220px;
    min-width: 160px;
    margin: 0 auto;
    margin-top: 20px;
}

h1 {
    padding: 20px;
}

#nav-logo {
    margin-left: -10px;
    margin-top: -15px;
    width: 50px;
}

#cbd {

    margin-left: 45px;
    width: 95%;
    max-width: 250px;
}

.hovMouse:hover {
    border: solid 2px yellow;
}

#mol {
    margin-left: 45px;
    width: 90%;
    max-width: 250px;
    padding-bottom: 50px;
}

#Cannabinoid {
    width: 100%;
    padding: 50px 0;
}



footer {
    background-color: #eee;
}

.strains {
    
    margin: 0 auto;
    max-width: 220px;
}

/*#jumboTextStrains {
    margin-right: 40px;
    padding-right: 70px;
}
*/
.jumbotron {
    padding-bottom: 25px;
}

.image-responsive {
    width: 100%;
}